@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    height: 100vh;
    font-family: 'Jost', sans-serif;
}

input {
    border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    -ms-border-radius: 2px !important;
    -o-border-radius: 2px !important;
}

.ql-editor {
    font-size: 1.05rem;
}

/* post-content css  */
.post-content p {
    margin-bottom: 0.5rem;
}

.post-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
}

.post-content h2 {
    font-size: 1.4rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
}

.post-content a {
    color: rgb(73, 149, 199);
    text-decoration: none;
}

.post-content a:hover {
    text-decoration: underline;
}


.post-content pre {
    background-color: #1e293b;
    border: 1px solid rgb(61, 69, 83);
    color: #e8e7e7;
    white-space: pre-wrap;
    padding: .5rem;
    border-radius: .5rem;
    margin-bottom: .5rem;
}

.post-content code {
    background-color: #ececec;
    padding: .25rem;
    border-radius: .25rem;
    font-size: .9rem;
}

.post-content ul li {
    margin: 1.15rem 0 1.15rem 1.3rem;
    list-style-type: circle;
}


.dark .post-content code {
    background-color: #1e293b !important;
    border: 1px solid rgb(61, 69, 83);
}

.dark .post-content a {
    color: red;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #000;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, .3);
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 5px;
}